@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-in {
        animation-fill-mode: forwards;
    }
}

body {
    background-color: #ffffff;
    color: #111827;
}