@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-in {
        animation-fill-mode: forwards;
    }
}

body {
    background-color: #ffffff;
    color: #111827;
}

/* Custom Scrollbar for Chrome, Safari and Opera */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    /* gray-200 */
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d1d5db;
    /* gray-300 */
}

/* Hide scrollbar for NoteOverlay if needed */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}